@import "~tailwindcss/base";
@import "~tailwindcss/components";
.selected\:flex {
  display: none;
}
.has-selected .selected\:flex,
.is-selected .selected\:flex{
  display: flex;
}
.required-dot::after {
  content: '*';
  @apply text-red-500 pl-1;
}
trix-editor, trix-toolbar {
  display: none;
}
.trix-editor-placeholder {
  display: block;
  height: theme('height.64');
  background-color: theme('colors.gray.50');
  line-height: 1.5;
  outline: none;
  margin: 0;
}
.trix-toolbar-placeholder {
  display: block;
  background-color: theme('colors.gray.50');
  height: 32px;
}
.rich-text--ready {
  & trix-editor,
  & trix-toolbar {
    display: block;
  }
  & .trix-editor-placeholder,
  & .trix-toolbar-placeholder {
    display: none;
  }
}
@import "~tailwindcss/utilities";
