@import "~tailwindcss/base";
@import "~tailwindcss/components";
.selected\:flex {
  display: none;
}
.has-selected .selected\:flex,
.is-selected .selected\:flex{
  display: flex;
}
.required-dot::after {
  content: '*';
  @apply text-red-500 pl-1;
}
trix-editor {
  @apply relative flex-1 w-full placeholder-gray-400 bg-white shadow-sm focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent;
  font-size: theme('fontSize.base') !important;
  color: theme('colors.gray.700') !important;
  padding: theme('spacing.2') theme('spacing.4') !important;
  border-color: theme('colors.gray.300') !important;
  border-radius: theme('borderRadius.lg') !important;
  ul {
    list-style: disc;
  }
  ol {
    list-style: decimal;
  }
}
trix-toolbar {
  position: sticky;
  top: 0;
}
trix-toolbar .trix-button {
  color: theme('colors.gray.700') !important;
}
trix-toolbar .trix-button-group {
  border-color: theme('colors.gray.300') !important;
  border-radius: theme('borderRadius.md') !important;
  margin-bottom: theme('margin.1') !important;
}
trix-toolbar .trix-button.trix-active {
  background: theme('colors.purple.200') !important;
}
trix-toolbar .trix-button:not(:first-child) {
  border-left: 1px solid theme('colors.gray.300') !important;
}
@import "~trix";
@import "~tailwindcss/utilities";
